PORT=5000
MONGODB_URI=mongodb+srv://bhimanijay89:bhimanijay89@cluster0.bwo5lmi.mongodb.net/insta_scheduler?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=bhimanijay89

INSTAGRAM_ACCESS_TOKEN=EAA4V6M08KPcBQy2eRZCBgqUHM02qzaO5rmulpecc0vhIa3GlDdjOToZAZBbUZC2iMaqWcexQ8ZA2E01fZCRNBJmpMI5TOEA07mRwShAwe6YcbuZAuTZBr8HmLZBGRGsfD14tIv6vbrsvNvVlNsrQ3ZCC9Lhwn5Bd8LJaUgCAUEKlT5wEEYpAxpoaTZCKbetgbX11nwDNKsAGGbvZAe4L
INSTAGRAM_USER_ID=17841439255660301

ADMIN_EMAIL=bhimanijay89@gmail.com
ADMIN_PASSWORD=bhimanijay7

FRONTEND_ORIGIN=http://localhost:5173
PUBLIC_BASE_URL=https://instaflowinstaflow-backend.onrender.com
VITE_API_URL=https://instaflowinstaflow-backend.onrender.com/api
UPLOAD_RETRY_GAP_SECONDS=300